div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	color: $color_text_main;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_heading;
  color: #000;
}
.h1, h1 {
  font-size: 2rem;
  @include tab {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  @include tab {
    font-size: 2.5em;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $color_link;
	text-decoration: underline;
	&:hover {
		color: $color_link_hover;
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.gform_wrapper.gravity-theme {
  input[type="tel"],input[type="text"],input[type="email"],input[type="number"],textarea, select {
    border: 1px solid $primary;
    &:focus {
      outline: none;
      border-color: $yellow2;
    }
  }
  .gfield textarea.textarea.large {
    height: 110px;
  }
  div.ginput_container_name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    br {
      display: none;
    }
    label {
      margin: 0 0;
    }
    p {
      margin: 0 0;
      width: 49%;
    }
  }
  div.gfield p:empty {
    display: none;
  }
  .gform_footer.top_label {
    margin-top: 1.5em;
    p:empty, br {
      display: none;
    }
    input.gform_button {
      border: 1px solid $primary;
      background: $primary;
      color: #FFF;
      padding: 15px 40px 13px;
      &:hover {
        border-color: $teal;
        background: $teal;
      }
    }
  }
}



.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.flexwrap {
  @include flexgroup();
}

.wp-block-group.alignwide,
.wrapper {
  max-width: 100%;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mid {
    max-width: $wrapper;
  }
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 200;
  background-color: rgba(255,255,255,.75);
  .wrapper {
    position: relative;
  }
  .head-inner {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @include flexgroup();
    align-items: center;
    justify-content: space-between;
  }
}
.site-logo {
  display: inline-block;
  width: 110px;
  a, img {
    display: block;
    width: 100%;
    height: auto;
  }
  @include tab {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.head-button {
  display: inline-block;
  text-decoration: none;
  background:$primary;
  color: #FFF;
  font-family: $font_primary;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px 20px 8px;
  // position: absolute;
  // right: 0;
  // bottom: 15px;
  &:hover {
    color: #FFF;
    text-decoration: none;
    background: $teal;
  }
}

#menu-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  // position: absolute;
  // left: 0;
  // bottom: 15px;
  background-image: url('images/menu.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 50;
  &:hover {
    background-image: url('images/menu-hover.svg');
  }
}

.head-button, #menu-toggle {
  position: relative;
  bottom: -35px;
}
.main-navigation {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 330px;
  height: 100%;
  z-index: -99;
  overflow: auto;
  transition: all ease .5s;
  &.show {
    left: 0;
    z-index: 210;
  }
  .menu-wrapper {
    background: $teal;
    padding: 150px 40px 80px;
  }
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  ul.menu a {
    display: block;
    text-decoration: none;
    font-family: $font_secondary;
    font-weight: 400;
    color: #FFF;
  }
  ul.menu li > a {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.3;
    padding: 10px 15px;
  }
  ul.menu li:hover > a {
    color: $yellow1;
  }
}

#closeMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 40px;
  left: 50px;
  cursor: pointer;
  transition: all ease .3s;
  &:hover {
    opacity: 0.7;
  }
  span.bar {
    transform: scale(0.8);
  }
  span.bar,
  span.bar:before,
  span.bar:after {
    display: block;
    width: 100%;
    height: 3px;
  }
  span.bar:before,
  span.bar:after {
    content:"";
    background: #FFF;
  }
  span.bar:before {
    transform: rotate(45deg);
  }
  span.bar:after {
    transform: translateY(-2px) rotate(-45deg);
  }
}

.headtopright {
  position: relative;
  @include flexgroup();
  justify-content: flex-end;
  align-items: flex-start;
  bottom: -40px;
  .head-button {
    bottom: 5px;
  }
  .search-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('images/icon-search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    margin-left: 30px;
    position: relative;
    bottom: -3px;
    i {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
    }
    &.show {
      background-image:none!important;
      &:before, &:after {
        content:"";
        display: block;
        width: 100%;
        height: 2px;
        background: $secondary;
        position: absolute;
        top: 12px;
        left: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.searchbar {
  position: absolute;
  left: 0;
  bottom: -118px;
  width: 100%;
  display: none;
  @include tab {
    bottom: -75px;
  }
  .inner {
    display: inline-block;
    float: right;
    max-width: 100%;
    width: 100%;
    position: relative;
    right: 0;
    padding:0 10px;
    @include tab {
      max-width: 350px;
      right: 15px;
      padding: 0 0;
    }
  }
  * {
    box-sizing: border-box;
  }
  form {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    float: right;
    @include animateThis(1s);
    label, .search-field {
      display: block;
      width: 100%;
      margin: 0 0;
    }
    label {
      position: relative;
      &:before {
        content:"";
        display: block;
        width: 18px;
        height: 18px;
        background-image: url('images/icon-search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 11px;
        right: 14px;
      }
    }
    .search-field {
      border-radius: 100px;
      padding: 8px 40px 8px 15px;
      height: 40px;
      font-size: 16px;
      outline: none;
      box-sizing: border-box;
      color: #000;
      border:1px solid $primary;
    }
    .search-submit {
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      width: 40px;
      height: 85%;
      border: none;
      z-index: 10;
      background: transparent;
      color: transparent;
    }
  }
  &.show {
    display: block;
    form {
      @include animateEffect(fadeIn);
    }
  }
}

.banners {
  height: 600px;
  background-color: #CCC;
  @include tab {
    height: 100vh;
  }
  img.actual-image {
    width: 100%;
    height: auto;
    display: block;
    @include tab {
      display: none;
    }
  }
  .banner {
    height: 100%;
    @include flexgroup();
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .text {
      padding-bottom: 0;
      font-family: $font_heading;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      color: #FFF;
      width: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      transform: translateY(3vh);
      @include tab {
        text-align: left;
        font-size: 4.5rem;
        padding-bottom: 0;
        max-width: 80vw;
        @include flexgroup();
        justify-content: flex-end;
      }
    }
    .pad {
      position: relative;
      z-index: 5;
      padding-bottom: 7vh;
      width: 100%;
      &:after {
        content:"";
        display: block;
        width: 50%;
        height: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url('images/white-wave.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
      }
      @include tab {
        width: 50%;
        padding-bottom: 10vh;
      }
    }
  }
}
div.buttondiv {
  margin-top: 40px;
}
.button {
  display: inline-block;
  text-decoration: none;
  background: $teal;
  color: #FFF;
  font-family: $font_forth;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .25px;
  padding: 10px 25px;
  @include tab {
    padding: 14px 35px 12px;
  }
  &:hover {
    text-decoration: none;
    background: $yellow2;
    color: #FFF;
  }
  &.btn-white {
    background: #FFF;
    color: #999;
    &:hover {
      text-decoration: none;
      background: $yellow2;
      color: #FFF;
    }
  }
}
.bg_gray {
  background-color: $gray;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: normal;
}

.homerow1 {
  &.section {
    margin-bottom: 0;
    @include tab {
      margin-bottom: 80px;
    }
  }
  .flexwrap {
    // max-width: $wrapper;
    // width: 100%;
    margin: 0 auto;
  }
  .home-carousel {
    padding-left: 20px;
    padding-right: 20px;
    @include tab {
      padding-left: 0;
      padding-right: 0;
    }
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: $primary;
    margin: 0 0 15px;
  }
  .fleft {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: normal;
    @include flexgroup();
    align-items: center;
    @include tab {
      width: 45%;
      padding-left: 12%;
      padding-right: 2%;
    }
    .inner {
      width: 100%;
    }
  }

  .button {
    padding: 12px 35px;
  }

  .fright {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    @include tab {
      width: 55%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .innerwrap {
      position: relative;
      @include tab {
        width: 120%;
        position: relative;
        left: -10vw;
      }
    }
    .cover-first-item {
      display: none;
      @include tab {
        display: block;
        position: absolute;
        top: 0;
        left: -16vw;
        margin-right: 10px;
        background: #FFF;
        z-index: 5;
      }
    }
    .item {
      position: relative;
      width: 100%;
      float: left;
      @include tab {
        &:before {
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #FFF;
          z-index: 10;
        }
      }
      a {
        display: block;
        width: 100%;
        height: auto;
        float: left;
        text-decoration: none;
      }
    }
    .item-title {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(255,255,255,.8);
      text-align: left;
      width: 100%;
      padding:20px 15px 15px 2vw;
      font-family: $font_primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      Letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $primary;
      transition: all ease .2s;
      @include tab {
        min-height: 75px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      a {
        margin-right: 40px;
        width: auto;
      }
      .arrow {
        display: none;
        @include tab {
          display: none;
          position: absolute;
          top: 50%;
          right: 35px;
          transform: translateY(-50%);
          z-index: 20;
          &:before, &:after {
            content:"";
            background: $teal;
            width: 25px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
          }
          &:before {
            transform: translateY(-8px) rotate(43deg);
          }
          &:after {
            transform: translateY(6px) rotate(-43deg);
          }
        }
      }
    }
    figure {
      width: 100%;
      margin: 0 0;
      float: left;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }

    .item a:hover {
      .item-title {
        background: $teal;
        color: #FFF;
        .arrow {
          &:before, &:after {
            background: #FFF;
          }
        }
      }
    }
  }
  .owl-nav, .owl-dots {
    display: none!important;
  }
  .owl-item.active {
    .item:before {
      display: none;
    }
  }
  .owl-item:first-child,
  .owl-item.center.active {
    .item .arrow {display: block;}
  }
  .fright .show-all {
     .item:before {
      display: none;
    }
  }
}

.homerow2.section {
  margin-top: 0;
  @include tab {
    margin-top: 80px;
  }
}

.carouselNavButtons {
  margin: 30px 0 0;
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $teal;
    margin-right: 8px;
    position: relative;
    span {
      display: block;
      width: 0;
      text-indent: -99em;
      overflow: hidden;
    }
    &.caroPrev {
      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 50%;
        left: 57%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
    }
    &.caroNext {
      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 50%;
        left: 46%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
    &:hover {
      background: $yellow2;
    }
  }
}

.wave-divider {
  margin: 25px 0 20px;
  svg {
    display: block;
    max-width: 300px;
    width: 100%;
  }
  g path {
    stroke: $teal!important;
  }
}

.text_divider {
  max-width: 185px;
  width: 100%;
  margin: 10px auto;
  @include tab {
    margin: 10px 0;
  }
  svg {
    display: block;
    width: 100%;
  }
}

.h2 {
  text-transform: uppercase;
  color: $primary;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  @include tab {
    font-size: 3rem;
  }
}
h1.page-title {
  text-transform: uppercase;
  color: $primary;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.5em;
  @include tab {
    font-size: 3.2rem;
  }
}

.flexible-content {
  position: relative;
  .flex-content {
    padding-bottom: 80px;
    margin-bottom: 20px;
    position: relative;
    @include tab {
      padding-top: 150px;
      margin-top: 50px;
      margin-bottom: 120px;
    }
  }
  .flexwrap {
    position: relative;
    z-index: 10;
  }
  .textcol {
    width: 100%;
    @include flexgroup();
    align-items: center;
    justify-content: center;
    @include tab {
      width: 50%;
    }
    .inner {
      width: 100%;
      background: #FFF;
      position: relative;
      padding: 20px;
      @include tab {
        padding: 6vw 8vw 5vw 10vw;
      }
    }
    .t1 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      color: $primary;
      margin: 0 0 10px;
    }
    .t2 {
      font-family: $font_third;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      color: $teal;
    }
    .buttondiv {
      position: relative;
    }
    .button {
      padding: 15px 35px;
      min-width: 220px;
      text-align: center;
    }
  }
  .imagecol {
    width: 100%;
    @include tab {
      width: 50%;
    }
    figure {
      margin: 0 0;
      position: relative;
      span.img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .flex-image {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    @include tab {
      position: absolute;
      top: 50px;
      right: 0;
      width: 70%;
      height: 100%;
      img {
        display: none;
      }
    }
  }

  .even {
    .textcol {
      .inner {
        padding: 20px;
        @include tab {
          padding: 6vw 10vw 5vw 8vw;
        }
      }
    }
  }

  
  // .flex-content.coming_soon {
  //   .flex-image .coming-soon {
  //     z-index: 5;
  //   }
  //   .flex-image {
  //     &:before, &:after {
  //       content:"";
  //       display: block;
  //       width: 100%;
  //       height: 100%;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //     }
  //   }
  // }

  // .flex-content.even.coming_soon {
  //   .flex-image {
  //     .coming-soon {
  //       color: #fff;
  //       font-family: $font_forth;
  //       font-size: 3rem;
  //       font-weight: 400;
  //       text-transform: uppercase;
  //       width: 100%;
  //       text-align: left;
  //       position: absolute;
  //       bottom: -45px;
  //       left: 8px;
  //       transform: rotate(-90deg);
  //       transform-origin: 0 0;
  //     }
  //     @include tab {
  //       &:before, &:after {
  //         opacity: 0.35;
  //         background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  //         background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  //         background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  //         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  //       }
  //     }
  //   }
  // }

  // .flex-content.odd.coming_soon {
  //   .flex-image {
  //     .coming-soon {
  //       color: #fff;
  //       font-family: $font_forth;
  //       font-size: 3rem;
  //       font-weight: 400;
  //       text-transform: uppercase;
  //       width: 100%;
  //       text-align: right;
  //       position: absolute;
  //       top: 50%;
  //       right: 25px;
  //       transform: rotate(90deg);
  //       transform-origin: 100% 0;
  //     }
  //     @include tab {
  //       &:before, &:after {
  //         opacity: 0.35;
  //         background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  //         background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  //         background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  //         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  //       }
  //     }
  //   }
  // }

  @include tab {
    .flex-content.even {
      .flexwrap {
        flex-direction: row-reverse;
      }
      .flex-image {
        right: unset;
        left: 0;
      }
    }
  }

  @include max($tabwidth - 1px) {
    .flex-content {
      // padding-top: 20px;
      // padding-bottom: 20px;
      padding-top: 0;
      padding-bottom: 0;
      @include tab {
        margin: 20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .imagecol {
        display: none;
      }
    }
    .flex-image {
      position: relative;
    }
    .flex-content.even.coming_soon .flex-image .coming-soon {
      width: 100%;
      transform: none;
      bottom: 20px;
      left: 0;
      text-align: center;
      // top: 50%;
      // bottom: unset;
      // transform: translateY(-50%);
    }
    .flex-content .textcol .inner {
      padding: 50px 30px 80px;
      text-align: center;
      @include tab {
        padding: 50px 30px 60px;
      }
    }
    .flex-content .textcol .buttondiv {
      left: 0;
      width: 100%;
      text-align: center;
    }
    .wave-divider svg {
      margin: 0 auto;
    }
  }
}

.font16 {
  font-size: 16px;
  font-weight: 400;
}

.homerow3 {
  &.section {
    margin-bottom: 0;
    @include tab {
      margin-bottom: 80px;
    }
  }
  .inner {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 300px;
    position: relative;
    background-image: url("images/BKG_Cover.png");
    background-color: $primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .feat-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include tab {
        width: 50%;
      }
    }
    @include flexgroup();
    align-items: center;
    justify-content: center;
    @include tab {
      min-height: 30em;
    }
    .wrapper {
      position: relative;
      z-index: 10;
    }
    .textwrap {
      width: 100%;
      position: relative;
      z-index: 10;
      @include flexgroup();
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
      @include tab {
        padding: 0 0;
      }
      h1,h2,h3 {
        color:$primary;
      }
      .inside {
        background: rgba(255,255,255,1);
        padding: 5vw;
        width: 100%;
        p:last-child {
          margin-bottom: 0;
        }
        @include tab {
          width: 55%;
        }
      }
      div.buttondiv {
        margin-top: 30px;
        @include tab {
          margin-top: 3vw;
        }
      }
      .button {
        background: $teal;
        &:hover {
          background: $yellow2;
        }
      }
    }
  }
}

.homerow4 {
  padding: 30px 0 0;
  margin-bottom: 0;
  &.section {
    padding: 50px 0 0;
    margin-top: 0;
    @include tab {
      margin-top: 80px;
      padding: 100px 0;
    }
  }
  .fcol.left {
    width: 100%;
    padding: 20px;
    @include flexgroup();
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    @include tab {
      margin-bottom: 0;
      width: 45%;
      padding: 0 5vw 0 11vw;
    }
    .t1 {
      color: $primary;
      text-transform: uppercase;
      margin:0 0 20px;
    }
  }
  .fcol.right {
    width: 100%;
    @include tab {
      width: 55%;
    }
    figure {
      margin: 0 0;
      width: 100%;
      float: left;
      background-color: #CCC;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
  }
}

.homerow5.section {
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 0;
  background-image: url('images/wave-big.svg');
  // background-image: url('images/wavy-lines.png');
  background-size: 40%;
  background-position: center;
  background-repeat: repeat;
  .titlediv {
    text-align: center;
    margin-bottom: 50px;
  }
  .flexwrap {
    justify-content: center;
  }
  .block {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 25px;
    .inner {
      display: block;
      position: relative;
      background-color: #FFF;
    }
    @include xs {
      width: 50%;
    }
    @include tab {
      width: 33.33%;
    }
    .title {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      @include flexgroup();
      justify-content: center;
      align-items: center;
      transition: all ease .3s;
      background: rgba($primary,90%);
      color: #FFF;
      opacity: 0;
      span {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        transform: translateY(20px);
        transition: all ease .3s;
      }
    }
    figure {
      margin: 0 0;
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      img {
        width: 100%;
        height: auto;
      }
    }

    &:hover {
      .title {
        opacity: 1;
        span {
          transform: translateY(0);
        }
      }
    }
  }
}

.homerow6.section {
  background: $teal;
  margin-top: 0;
  margin-bottom: 0;
  .textwrap {
    text-align: center;
    color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: normal;
  }
  .h2 {
    font-family: $font_fifth;
    font-weight: bold;
    color: #FFF;
    letter-spacing: .25px;
  }
  .buttondiv {
    margin-top: 50px;
  }
}

/* SUBPAGE */
.taxonomy-banner,
.static-banner {
  background-color: #ededed;
  position: relative;
  height: 400px;
  @include tab {
    height: 35rem;
  }
  @include mid {
    // height: 700px;
    height: 40rem;
  }
  img.actual-image {
    width: 100%;
    height: auto;
    display: block;
    @include tab {
      display: none;
    }
  }
  .banner-image, .banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .banner-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .banner-text {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &:before {
      content:"";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      opacity: 0.85;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      @include tab {
        width: 70%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
    }
    .wrapper {
      position: relative;
      z-index: 3;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    .title {
      font-family: $font_heading;
      font-weight: normal;
      font-size: 3rem;
      line-height: 1.2;
      color: $primary;
      text-transform: uppercase;
      margin-bottom: 60px;
      position: relative;
      text-align: center;
      letter-spacing: 0.5px;
      width: 100%;
      @include tab {
        font-size: 4.5rem;
        margin-bottom: 180px;
        text-align: left;
      }
      span {
        display: inline-block;
        position: relative;
        &:after {
          content:"";
          display: block;
          position: relative;
          bottom: 0;
          left: 50%;
          width: 150px;
          height: 30px;
          transform: translateX(-50%);
          background-image: url('images/symbol/water.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include tab {
            width: 200px;
            position: absolute;
            right: -95px;
            bottom: -50px;
            transform: none;
          }
        }
      }
      &.white {
        color: #FFF;
        span:after {
          background-image: url('images/symbol/wave-blue.svg');
        }
      }
    }
  }

  &.white {
    background-color: #727272;
    .banner-text {
      &:before {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
        @include tab {
          background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
          background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
        }
      }
    }
  }
}

body.subpage.has-banner {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}


.repeatable-blocks {
  .h2 {
    margin: 0 0 30px;
    letter-spacing: 0.5px;
  }
  .fullwidth {
    .wrapper {
      padding-top: 70px;
      padding-bottom: 60px;
    }
    .buttondiv {
      margin-bottom: 20px;
    }
  }
  .repeatable:nth-child(even) {
    background-color: $gray;
  }
  .repeatable.text-image {
    padding-top: 40px;
    padding-bottom: 70px;
    @include tab {
      padding-top: 70px;
    }
    .wrapper {
      max-width: 100%!important;
      padding-left: 0;
      padding-right: 0;
    }
    &.odd {
      // background-color: $gray;
    }
    .textcol, .imagecol {
      width: 100%;
      @include tab {
        width: 50%;
      }
    }

    .textcol {
      padding: 20px;
    }

    figure {
      margin: 0 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: auto;
      }
      img.helper {
        display: none;
        @include tab {
          display: block;
        }
      }
      img.actual {
        display: block;
        @include tab {
          display: none;
        }
      }
    }

    &.odd {
      .flexwrap {
        @include tab {
          flex-direction: row-reverse;
        }
        .imagecol {
          @include tab {
            padding-right: 3vw;
          }
        }
        .textcol {
          @include tab {
            padding-right: 5vw;
          }
        }
      }
    }
    &.even {
      .flexwrap {
        .imagecol {
          @include tab {
            padding-left: 3vw;
          }
        }
        .textcol {
          @include tab {
            padding-left: 5vw;
          }
        }
      }
    }
  }
}

.contact-page {
  .intro-content {
    .wrapper {
      padding-top: 70px;
      padding-bottom: 60px;
    } 
  }
}

.contact-form-section {
  .fxcol {
    width: 100%;
    @include tab {
      width: 50%;
    }

    &.text {
      padding: 50px 20px;
      background-color: $teal;
      background-image: url('images/BKG_Cover_2.png');
      background-position: center;
      background-size: cover;
      text-align: center;
      @include tab {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3vw;
      }
      .inside {
        color: #FFF;
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.form {
      background: $gray;
      padding: 20px;
      @include tab {
        padding: 3vw;
      }
      .gform_title {
        display: none;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        border: 1px solid #FFF;
        outline: none;
        padding: 5px 10px;
        &:focus {
          border-color: $teal;
        }
      }

      input[type="text"],
      input[type="email"] {
        height: 40px;
      }

      .gform_button.button {
        border: 1px solid $primary;
        background-color: $primary;
        color: #FFF;
        margin: 0 0;
        width: 100%;
        text-align: center;
        &:hover {
          border: 1px solid $yellow2;
          background-color: $yellow2;
        }
      }

      ::placeholder {
        font-family: $font_forth;
        font-weight: 500;
        color: #BEBEBE;
      }

      .gform_wrapper.gravity-theme .gfield textarea.large {
        height: 100px;
      }
    }
  }
  .c-info {
    display: inline-block;
    margin: 5px 10px;
  }
  .phone, .email {
    i {
      position: relative;
      display: inline-block;
      margin-right: 8px;
    }
  }
  .phone i {
    transform: scaleX(-1);
  }

  a {
    text-decoration: none;
    color: #FFF;
    &:hover {
      color: $yellow1;
    }
  }
}

.contact-links-section {
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    @include tab {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  .flexwrap {
    justify-content: space-evenly;
    align-items: center;
  }
  .link-icon {
    width: 50%;
    padding: 25px 10px;
    text-align: center;
    @include xs {
      padding: 10px 10px;
      width: 30%;
    }
    @include mid {
      width: 20%;
    }
    a {
      display: block;
      text-decoration: none;
      color: $primary;
      * {
        transition: all ease .2s;
      }
    }
    .icon {
      display: inline-block;
      width: 65px;
      height: 65px;
      margin-bottom: 15px;
      position: relative;
      border-radius: 100%;
      background-color: $primary;
      border: 3px solid #08a5c5;
      i {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .title {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
    }
    a:hover {
      .icon {
        background-color: $teal;
        // transform: scale(1.1);
      }
      .title {
        color: $teal;
      }
    }
  }
}

.taxonomy-content {
  &.no-cat-desc {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .cat-description {
    p:last-child {
      margin-bottom: 0;
    }
  }
  .taxonomy-posts {
    .flexwrap {
      @include flexgroup();
      justify-content: center;
      margin: -15px;
      padding-bottom: 30px;
    }
    .item {
      padding: 15px;
      width: 100%;
      text-align: center;
      margin: 5px 0;
      @include tab {
        width: 33.333%;
        margin: 0 0;
      }
      figure {
        margin: 0 0;
        background-color: #CCC;
        background-size: cover;
        background-repeat: no-repeat;
        img {
          width: 100%;
          height: auto;
        }
      }
      .name {
        margin: 0 0 15px;
        text-transform: uppercase;
        color: $primary;
      }
    }
    .wrap {
      padding: 0;
      height: 100%;
      background: $gray;
    }
    .buttondiv {
      margin: 0 0;
    }
    .info {
      padding: 30px;
    }
  }
}

body.single-activities {
  .entry-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    p:last-child {
      margin-bottom: 0;
    }
    h3 {
      //font-family: $font_sixth;
      font-family: $font_fifth;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2;
      color: $primary;
      margin: 0 0 1rem;
    }
  }
}

.section-trip-options {
  background: #F1F5F7;
  padding: 5rem 0;
  font-size: 14px;
  line-height: 1.4;
  .flexwrap.f-options {
    justify-content: space-between;
  }
  .fleft, .fright {
    width: 100%;
  }
  &.half {
    .fleft {
      @include tab {
        width: 67%;
      }
    }

    .fright {
      @include tab {
        width: 29%;
      }
    }
  }
  .table-data {
    .flexwrap {
      // align-items: center;
    }
    .tbcol {
      width: 20%;
      padding: 10px 20px 9px;
    }
    .tbcol:first-child {
      width: 60%;
    }
    .thead {
      .tbcol {
        color: $primary;
        text-transform: uppercase;
        line-height: 1.2;
      }
      .c2,.c3 {
        text-align: center;
      }
    }
    .tbody {
      .trow {
        .flexwrap {
          background: $teal;
          color: #FFF;
        }
        .tbcol {
          border-left: 1px solid #FFF;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          line-height: 1.2;
        }
        .tbcol:first-child {
          border-left: none;
        }
      }
      .c1 {
        font-family: $font_heading;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .02em;
        text-transform: uppercase;
      }
      .c2, .c3 {
        text-align: center;
        justify-content: center;
      }
      .info {
        padding: 20px;
      }
      .f-size {
        color: $primary;
        text-transform: uppercase;
        margin-top: 20px;
      }
    }
  }


  .graybox {
    background: #8686861D;
    margin: 0 0 3em;
    .box-title {
      color: $primary;
      text-transform: uppercase;
      text-align: center;
      padding: 13px 15px 12px;
      border-bottom: 1px solid $primary;
    }
    .box-text {
      padding: 15px;
    }

    .box-text {
      padding: 30px 3vw;
    }
    &.pass_options {
      text-align: center;
      .box-text {
        padding:15px 3vw 30px;
      }
    }
    .p-info {
      padding: 10px 0;
    }
    .p-title {
      color: $primary;
      text-transform: uppercase;
    }
    .p-price {
      font-family: $font_heading;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
      color: $primary;
      margin: 5px 0;
    }
  }

  .buttondiv {
    margin-top: 15px;
    text-align: center;
    &.mt-25 {
      margin-top: 25px;
    }
  }
  .button-outline {
    display: inline-block;
    text-decoration: none;
    border: 2px solid $primary;
    color: $primary;
    text-transform: uppercase;
    padding: 10px 20px 8px;
    &:hover {
      background: $primary;
      color: #FFF;
    }
  }
}

.section-additional-information {
  background-color: $teal;
  background-image: url('images/BKG_Cover_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  font-size: 14px;
  line-height: 1.4;
  .stitle {
    text-align: center;
    color: #FFF;
    margin: 0 0 1.1em;
  }
  .accordions {
    .acc-item {
      border-top: 1px solid #FFF;
      background: #FFF;
      &.first {
        border-top: none;
      }
    }
    .title {
      a {
        display: block;
        text-decoration: none;
        color: #FFF;
        padding: 15px 18px 12px;
        background: $teal;
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
        &:before, &:after {
          content:"";
          display: block;
          width: 16px;
          height: 2px;
          background: #FFF;
          transition: all ease .2s;
          position: absolute;
          top: 27px;
          right: 20px;
        }
        &:before {
          transform: translateY(-2px);
        }
        &:after {
          transform: translateY(-2px) rotate(-90deg);
        }

        // span {
        //   display: block;
        //   width: 16px;
        //   height: 16px;
        //   position: absolute;
        //   top: 25px;
        //   right: 20px;
        //   &:before, &:after {
        //     content:"";
        //     display: block;
        //     width: 100%;
        //     height: 2px;
        //     background: #FFF;
        //     transition: all ease .2s;
        //   }
        //   &:after {
        //     transform: translateY(-2px) rotate(-90deg);
        //   }
        // }
      }
    }
    .text {
      padding: 30px;
      display: none;
      @include animateThis(1s);
    }
    .acc-item.active {
      .text {
        display: block;
        @include animateEffect(fadeIn);
      }
      .title a {
        &:after {
          transform: translateY(-2px) rotate(0);
        }
      }
      // .title span {
      //   &:after {
      //     transform: translateY(-2px) rotate(0);
      //   }
      // }
    }
  }
}

.site-footer {
  background: $primary;
  color: #FFF;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  position: relative;
  border-top: 20px solid $yellow2;
  &:after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('images/symbol-large.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    @include tab {
      width: 50%;
    }
  }
  a:hover {
    color: $teal!important;
  }
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 5;
    @include tab {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  .footlogo {
    display: inline-block;
    width: 120px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .address {
    font-size: 14px;
    line-height: 1.8;
    margin: 0 0;
    a {
      text-decoration: none;
      color: #FFF;
      &:hover {
        color: $teal;
      }
    }
    span i[class*="fas"] {display:none;}
  }
  .flexwrap {
    justify-content: space-between;
    .fcol {
      width: 100%;
      @include xs {
        width: 48%;
      }
    }
    .fcol.left {
      margin-bottom: 35px;
      text-align: center;
      @include xs {
        margin-bottom: 0;
        text-align: left;
      }
    }
    .fcol.right {
      text-align: center;
      @include xs {
        text-align: left;
        width: 35%;
        @include flexgroup();
        align-items: center;
        .inner {
          padding: 25px 0 10px;
          position: relative;
          &:before {
            content:"";
            display: block;
            width: 20px;
            height: 100%;
            background-image: url('images/wave-vertical.svg');
            background-position: center;
            background-size: contain;
            background-repeat: repeat-y;
            position: absolute;
            top: 0;
            left: -4vw;
          }
        }
      }
      @include tab {
        width: 30%;
      }
    }
  }
  .wdt-title {
    font-family: $font_heading;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FFF;
    margin: 0 0 10px;
  }
  .wdt-text {
    color: #FFF;
    a {
      display: inline-block;
      text-decoration: none;
      color: #FFF;
      font-size: 14px;
      line-height: 1.8;
    }
  }
  .social-media {
    margin-top: 30px;
    a {
      display: inline-block;
      text-decoration: none;
      color: #FFF;
      font-size: 25px;
      line-height: 1;
      margin: 5px;
      @include tab {
        margin: 0 5px 0 0;
      }
      &:hover {
        color: $yellow1;
      }
    }
  }
}

/* Weather */
.weatherInfo {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  .live-forecast,
  .wp-forecast-curr-head,
  .wp-forecast-curr-details {
    display: none!important;
  }
  .fahrenheit {
    font-family: $font_heading;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    color: $primary;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    top: 2px;
    &:after {
      content:"";
      display: block;
      width: 8px;
      height: 8px;
      border:2px solid $primary;
      border-radius: 100px;
      position: absolute;
      top: 1px;
      right: -8px;
    }
  }
}
.weather-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  left: -3px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// body.contact {
//   .static-banner {
//     .banner-text {
//       &:before {
//         background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
//         background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
//         background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
//         @include tab {
//           background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
//           background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
//           background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
//           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
//         }
//       }
//     }
//   }
// }

/* ACCORDIONS */
.accordions-section {
  .accordion {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
  .acc-title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0 0 1.3rem;
  }

  .questions {
    .q-item {
      margin: 0.75rem 0;
    }
    .q-title {
      font-family: $font_primary;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.2;
      background: $primary;
      color: #FFF;
      margin: 0 0;
      position: relative;
      a {
        display: block;
        text-decoration: none;
        color: #FFF;
        padding: 15px 15px;
      }
      span.icon {
        cursor: pointer;
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        &:before, &:after {
          content:"";
          display: block;
          width: 100%;
          height: 3px;
          background: #FFF;
          // transition: all linear .1s;
        }
        &:before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          position: absolute;
          top: 50%;
          margin-top: -2px;
          margin-left: -1px;
          transform: rotate(90deg) translateY(-50%);
        }
      }
    }
  }
  .q-text {
    padding: 1.5rem;
    display: none;
    @include animateThis(1s);
    h3 {
      font-size: 1.3rem;
      line-height: 1.2;
      margin: 1.5rem 0 0.5rem;
      color: $primary;
    }
    h3:first-child {
      margin-top: 0;
    }
  }
  .q-item.active {
    .q-text {
      @include animateEffect(fadeIn);
      display: block;
    }
    .q-title a.active {
      span:after {
        transform: rotate(0deg) translateY(0);
      }
    }
  }
}


body.scrolled {
  .site-header {
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
  }
  .main-navigation.show {
    height: 100vh;
  }
}
body.logged-in.admin-bar {
  @media screen and (min-width: 783px) {
    .site-header {
      top: 32px;
    }
  }
}

body.page-template-default,
body.page-template-page-custom {
  .site-header {
    position: relative;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  #primary {
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 20em;
  }
  &.logged-in.admin-bar {
    .site-header {
      top: 0;
    }
  }
}

.generic-layout {
  .wp-block-group.alignwide {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}



/* MOBILE */
@include max($tabwidth) {
  .site-header,
  .site-header .head-inner {
    height: 80px;
  }
  .site-header {
    .head-inner {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      display: block;
      position: relative;
      z-index: 80;
    }
    #menu-toggle {
      bottom: 0;
      left: 12px;
      height: 100%;
    }
    .headtopright {
      width: 100vw;
      height: 50px;
      display: block;
      position: absolute;
      left: -15px;
      bottom: -48px;
      background: $primary;
      text-align: right;
    }
  }
  .site-logo {
    width: 58px;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .weatherInfo {
    display: block;
    width: 40%;
    padding: 0 15px;
    position: absolute;
    top: 12px;
    left: 5px;

    
    // width: 140px;
    // padding: 0 15px;
    // position: absolute;
    // top: -53px;
    // left: 120px;
    .weather-icon {
      filter: brightness(0) invert(1);
    }
    .fahrenheit {
      color: #FFF;
      &:after {
        border-color: #FFF;
      }
    }
  }
  .headtopright {
    .search-button {
      bottom: 7px;
      left: -9px;
      filter: brightness(0) invert(1);
    }
    .head-button {
      bottom: -7px;
      right: 7px;
      padding: 8px 18px;
      font-size: 16px;
      background: #FFF;
      color: $primary;
    }
  }
  .mobile-menu-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
  }
}





